main{
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    margin: 100px auto 0;
    padding-bottom: 100px;
    background-image: url(../img/home/tree2.png),
                      url(../img/home/tree3.png);
    background-repeat: no-repeat;
    background-position: left 260px,
                         right 10px;
    background-size: 35%,
                     20%;
}

.gp img{
    width: 300px;
    height: 300px;
}

.title{
    color: #434343;
    margin-left: 20px;
}

.title h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.title h2{
    font-size: 18px;
}

.title h3{
    font-size: 18px;
    margin-top: 20px;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
}

aside h3{
    font-size: 28px;
    color: #434343;
}

.add-card{
    display: flex;
    padding: 10px 0;
}

.add-card .btn1{
    margin-top: -7px;
}

.add-card .btn2{
    margin-top: -7px;
}

.add-card span{
    font-size: 24px;
    border: 1px solid #171c38;
    padding: 0 8px;
    background-color: #171c38;
    color: #fcfaf2;
    font-weight: bold;

    /* 更換游標 */
    cursor: pointer;

    /* 取消反白 */
    user-select: none;
}

.add-card input{
    width: 100px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #171c38;
    border-radius: 0px;
}

aside .cart{
    font-size: 20px;
    background-color: #171c38;
    color: #fcfaf2;
    border-radius: 5px;
    cursor: pointer;
} 


section{
	padding-bottom: 50px;
	background-image: url(../img/home/bg1.png),
					  url(../img/home/mountain.png);
	background-repeat: no-repeat;
	background-position: right top,
						 left bottom;
	background-size: 35%,
	             	 40%;
}

section h2{
	font-size: 25px;
	color: #171c38;
	margin: 70px 0 -50px 140px;
}


.recommend{
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.recommend .goods{
	width: 200px;
	border: 1px solid #434343;
	margin: 15px 15px 0;
	padding: 10px;
	border-radius: 5px;
}

.goods img{
	width: 100%
}

.goods p{
	text-align: center;
}

.goods a{
    color: #434343;
    text-decoration: none;
    font-size: 16px;
}

.goods .price{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.goods .normal{
	color: #434343;
	font-weight: bold;
	font-size: 18px;
}

.goods input{
	width: 100px;
	height: 30px;
	font-size: 16px;
	background-color: #171c38;
	color: #fcfaf2;
	border: none;
}

@media screen and (max-width:414px){
    main{
        width: 100%;
        max-width: 414px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px auto 0;
        padding-bottom: 100px;
        background-image: none
    }

    .title{
        margin-left: 0px;
    }

    .title h1{
        font-size: 26px;
        margin: 5px auto 20px;
        text-align: center;
    }

    .title h2{
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
    }

    .title h3{
        width: 80%;
        font-size: 16px;
        margin: 10px auto;
        text-align: center;
    }

    aside{
        margin-top: 30px;
    }
    
    aside h3{
        font-size: 24px;
        color: #434343;
    }
    
    .add-card .btn1{
        margin-top: -5px;
    }
    
    .add-card .btn2{
        margin-top: -5px;
    }
    
    .add-card span{
        font-size: 24px;
        padding: 1px 8px;
    }
    
    .add-card input{
        width: 80px;
        height: 20px;
        text-align: center;
        font-size: 20px;
    }
    
    aside .cart{
        font-size: 20px;
        border-radius: 5px;
        height: 45px;
    } 

    section{
        padding-bottom: 50px;
    }
    
    section h2{
        font-size: 24px;
        color: #171c38;
        margin: 0px 0px 0px 15px;
    }

    .recommend{
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .recommend .goods{
        width: 140px;
        margin: 15px 10px;
        padding: 12px;
    }

    .goods input{
        width: 120px;
        height: 30px;
        font-size: 16px;
    }
}